body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #007bff;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #89bcf4;
    color: white;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ffeb3b;
    cursor: pointer;
}
